services:
  jenkins:
    image: jenkins/jenkins
    build: .
    privileged: true
    container_name: jenkinsat
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock

volumes:
  jenkins_home: